.records-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .article-item {
    grid-column: span 1;
    grid-row: span 1;
  }